.experience__Card {
  display: flex;
  flex-direction: column;
}

.experience__Company {
  font-size: 3rem;
  line-height: 1;
}

.experience__Position {
  padding: 1rem 0;
}

.experience__Dates {
  padding: 1rem 0;
  text-align: right;
}

@media (max-width: 720px) {
  .experience__Card {
    gap: 0.5rem;
  }
}
