.experience__Card {
  padding: 0 1rem;
}
.global__Emphasise {
  transition: all 0.2s;
  display: inline-block;
}
.experience__Description:hover > span > b {
  transform: skew(-12deg);
}

.experience__Company {
  font-size: 3rem;
  line-height: 1;
}

.experience__Position {
  padding: 1rem 0;
}

.experience__Dates {
  padding: 1rem 0;
  text-align: right;
}

@media (max-width: 720px) {
  .experience__Wrapper {
    padding-bottom: 5rem;
  }
  .experience__Card {
    gap: 0.5rem;
  }
  .experience__Company {
    font-size: 2.8rem;
  }
}
