.about__Wrapper {
  padding: 4.5rem 1rem;
}
.about__Title {
  line-height: 1;
  font-size: 3rem;
}

@media (max-width: 720px) {
  .about__Wrapper {
    padding: 0 2rem 2rem 2rem;
    display: grid;
    gap: 3rem;
  }
  .about__Paragraph {
    padding: 0 1rem;
  }
}
