/* MAIN SECTION */
.main__Wrapper {
  display: flex;
  gap: 3rem;
  width: 100%;
}
.main__Left,
.main__Right {
  width: 50%;
}

.main__RightMobile {
  display: none;
}
.main__Left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 99;
}

/* HOME SECTION */
.home__Wrapper {
  padding: 4rem 2rem;
}
.home__Avatar {
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 720px) {
  .main__Wrapper {
    flex-direction: column;
  }
  .main__Left {
    position: relative;
  }
  .main__Left,
  .main__Right {
    width: 100%;
    height: 100%;
  }
  .main__RightMobile {
    display: contents;
  }
  .main__RightDesktop {
    display: none;
  }
}
