.footer__Wrapper {
  bottom: 0;
  position: fixed;
}

.footer__Wrapper > ul {
  display: flex;
  list-style-type: none;
  margin: 2rem 1rem;
}
.footer__Wrapper > ul > li {
  margin-right: 2rem;
}
.footer__Image {
  border: 0px solid var(--primary-background);
  transition: border 0.2s;
}
.footer__Image:hover {
  border: 1px solid var(--primary-background);
}
/* @media (max-width: 720px) {
  .footer__Wrapper > ul {
    margin-top: 3rem;
  }
} */
