.footer__Wrapper {
  bottom: 0;
  position: fixed;
}

.footer__IconList {
  display: flex;
  list-style-type: none;
  margin: 2rem;
}

.footer__IconLink {
  margin-right: 2rem;
}

.footer__Image {
  border: 0px solid var(--primary-background);
  transition: border 0.2s;
}
.footer__Image:hover {
  border: 1px solid var(--primary-background);
}

@media (max-width: 720px) {
  .footer__IconList {
    margin: 3rem 2rem;
  }
}
