.navigation__Wrapper {
  font-size: 2.5rem;
  margin: 3rem 2rem;
}

.navigation__LinkList {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.navigation__Link {
  display: inline-block;
  margin: 1.5rem 0;
  text-decoration: none;
}

.navigation__LinkItem:before {
  bottom: -4px;
  height: 4px;
}

.navigation__CurrentLink {
  transition: all 0.5s;
}
.navigation__CurrentLink:before {
  background: var(--primary-accent);
  bottom: -4px;
  content: "";
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: all 0.5s;
  width: 80%;
}

@media (max-width: 720px) {
  .navigation__Wrapper {
    display: none;
  }

  .navigation__LinkList {
    flex-direction: row;
    justify-content: space-between;
  }
}

